/* Custom dots styling */
.custom-dots .slick-dots {
  position: absolute;
  top: 50%; /* Center vertically */
  right: 50px; /* Move to the left end */
  transform: translateY(-50%); /* Vertically center */
  z-index: 10; /* Ensure it's above other elements */

  display: flex;
  align-items: flex-end;
  flex-direction: column; /* Stack dots vertically */
  gap: 2rem; /* Add 20px gap between dots */
  justify-content: center; /* Ensure vertical centering */
}

/* Style for individual dots */
.custom-dots .slick-dots li button {
  // width: 12px;
  // height: 12px;
  border-radius: 50%;
  background-color: white; /* Set the dot color to white */
  opacity: 0.7; /* Make dots slightly transparent */
  border: none; /* Remove default border */
  transition: opacity 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #09c75e;
  padding: 0.5rem;
}

.ant-carousel .slick-dots li.slick-active {
    width: 16px;
}

/* Active dot style */
.custom-dots .slick-dots li.slick-active button {
  background-color: #1890ff; /* Active dot color */
  opacity: 1;
  width: auto;
}

/* Add hover effect on dots */
.custom-dots .slick-dots li button:hover {
  opacity: 1;
  background-color: #1890ff; /* Change color on hover */
}
