.custom-timeline {
  .custom-timeline-icon {
    border-radius: 50%;
    text-align: center;
    background-color: #15b215;
    color: #fff;
  }
  .rs-timeline-item {
    padding-left: 50px !important;
    height: 12vh;
  }
}
