#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90%;
  height: 100%;
  padding: 2.5rem;
}

.swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background: #000000;
  height: 60vh;
  border-radius: .5rem;
  margin-bottom: 2rem;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #08D665;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #08D665;
  }

  .swiper-pagination {
    border-radius: 4px;
    display: flex;
    justify-content: center;

    // background-color: rgba(0, 0, 0, 0.3);
    // backdrop-filter: blur(10px);

  }
}

