.global-header{
    line-height: normal !important;
    padding: 0 !important;
    background-color: #EAE8D9 !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100 !important;
}